.container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 900px;
}

.container h1 {
  color: white;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.container p {
  color: white;
  padding-bottom: 10px;
}

.container a {
  color: white;
  margin-top: 10px;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.container h2 {
  color: black;
  text-align: center;
}
